body {
    font-family:  sans-serif;
}

#log {
  display: block;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #F7F7F7;
}

#audioLog {
  display: block;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #F7F7F7;
}

.test-block,
#addTest{
    background-color: #CCCCCC;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.test-block h1 {
    display: inline;

}

.test-interaction-block,
.test-block .addInteractionBtn {
    background-color: #DDDDDD;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}


.test-block .addInteractionBtn,
#addTest {
    border: #AAA 1px solid;
}


.test-interaction-block h2 {
    display: inline;
}


.response-block {
    background-color: #EEEEEE;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}


.hint {
    font-size: 0.6em;

}



